*, ::before, ::after {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: #f2f2f2;
}

/* Index Header */
.homepage-header {
    position: fixed;
    width: 100%;
    padding: 20px;
    color: #fff;
    background-color: #22334E;

    display: flex;
    justify-content: flex-start;
    align-content: center;
    top: 0;
    z-index: 1;
}

.PLM-logo {
    position: relative;
    width: 60px;
    height: 60px;
    padding-right: 20px;
}

.PLM-fil {
    font-size: 25px;
    font-weight: 600;
}

.PLM-fil::after {
    content: "\a";
    white-space: pre;
}

.PLM-eng {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
}

.PLM-eng::before {
    content: "\a";
    white-space: pre;
}

.PLM-eng::after  {
    content: "";
    padding-right: 800px;
}

/* INDEX PAGE // HOMEPAGE */
.main-homepage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;

    margin-top: 100px;
    padding: 32px;
}

.lab-grab-start {
    width: 900px;
    height: 400px;
    background-color: rgba(219, 219, 219, 0.786);
    border-radius: 100px;
    padding: 40px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    z-index: 1;
}

.image {
    position: relative;
    display: grid;
    justify-content: center;
    align-self: center;
    align-content: center;
    text-align: right;

    font-size: 300px;
    grid-area: 1 / 1 / 4 / 2;
    padding: 32px;
}


.title {
    position: relative;
    display: grid;
    justify-content: left;
    align-self: flex-end;

    font-size: 70px;
    
    grid-area: 1 / 2 / 2 / 3;
}

.description, .start-button {
    grid-area: 2 / 2 / 3 / 3;

}

.description {
    font-size: 18px;
    position: relative;
    display: grid;
    justify-content: center;
    align-self: flex-start;
    padding-bottom: 32px;
}

.start-button {
    width: 220px;
    height: 50px;
    border: transparent;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    
    display: grid;
    justify-content: baseline;
    align-content: center;
    align-self: center;

    background-color: #FFA4A4;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.start-button:hover {
    background-color: #fc9292;
}

.start-button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

@media (max-width: 600px) {
    .PLM-fil {
        font-size: 22px;
    }
    .image {
        font-size: 100px;
        padding: 0 25px 0 0;
    }

    .title {
        font-size: 56px;
    }

    .description {
        font-size: 12.5px;

    }

    .start-button {
        width: 150px;
    }
}

/* Nav bar for other pages */
header {
    position: fixed;
    width: 100%;
    padding: 20px;
    color: #fff;
    background-color: #22334E;

    display: flex;
    top: 0;
    z-index: 1;
}

.nav {
    width: 100%;
    max-width: 300px;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    font-size: 20px;
}

.nav ul>li {
    display: block;
    color: #f2f2f2;
}

.nav li>a{
    text-decoration: none;
    color: #f2f2f2;
}

.nav li>a:hover {
    text-decoration: none;
    color: #ffb703;
}

/* MAIN MENU */
.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 100px;
    padding: 32px;
}

.menu-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 150px;
}

.directory {
    width: 500px;
    height: 500px;
    background-color: #c3ddec;
    padding-bottom: 10px;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#directory {
    text-decoration: none;
    color: #324768;   /* CHANGE FONT COLOR */
}

.directory:hover {
    background-color: #a5d1ea;
    border-radius: 50px;
}

.directory:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.directory-name {
    padding-top: 45px;
    font-size: 45px;
}

.equipment {
    width: 500px;
    height: 500px;
    background-color: #c3ddec;
    padding-bottom: 10px;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#equipment {
    text-decoration: none;
    color: #324768;     /* CHANGE FONT COLOR */
}

.equipment:hover {
    background-color: #a5d1ea;
    border-radius: 50px;
}

.equipment:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.equipment-name {
    padding-top: 45px;
    font-size: 45px;
}

.back-button {
    width: 150px;
    height: 40px;
    border: transparent;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    background-color: #C3DDEC;
    color: #324768;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.back-button:hover {
    background-color: #a5d1ea;
}

.back-button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/* GENERAL DIRECTORY STYLES */
.directory-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 100px 0 75px 0;
    padding: 32px;
}

.directory-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;

    font-size: 25px;
}

/* CHEMISTRY DIRECTORY */
.chemistry-directory {
    width: 700px;
    height: 40px;
    background-color: #c3ddec;
    color: #324768;
    padding-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chem-contents{
    width: 100%;
    height: 550px;     /* Change if needed */
    margin: 20px;

    background-color: #ffb80334;
    color: #324768;
}

#chemistry-directory {
    text-decoration: none;
}
.chemistry-directory:hover {
    background-color: #a5d1ea;
}
.chemistry-directory:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/* PHYSICS DIRECTORY */
.physics-directory {
    width: 700px;
    height: 40px;
    background-color: #c3ddec;
    color: #324768;
    padding-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.physics-contents{
    width: 100%;
    height: 550px;     /* Change if needed */
    margin: 20px;

    background-color: #42ff0334;
    color: #324768;
}

#physics-directory {
    text-decoration: none;
}
.physics-directory:hover {
    background-color: #a5d1ea;
}
.physics-directory:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/* PENTABYTE PAGE */
.pentabyte-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 100px 0 75px 0;
    padding: 32px;
}

.member-containers {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;

    flex-direction: row;
    gap: 25px;
    padding: 32px;

}

.bauca {
    width: 200px;
    height: 350px;
    border: 1px solid black;
    background-color: #FFA4A4;
}

.francisco {
    width: 200px;
    height: 350px;
    border: 1px solid black;
    background-color: #FFA4A4;
}

.nacario {
    width: 200px;
    height: 350px;
    border: 1px solid black;
    background-color: #FFA4A4;
}

.omura {
    width: 200px;
    height: 350px;
    border: 1px solid black;
    background-color: #FFA4A4;
}

.ramos {
    width: 200px;
    height: 350px;
    border: 1px solid black;
    background-color: #FFA4A4;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 32px;
    width: 100%;
    
    position: fixed;
    bottom: 0;
    right: 0;

    color: #fff;
    background-color: #22334E;
}



